APP_NAME="TeFa Project Management API"
APP_ENV=development
PORT=8000

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password_db_anda
DB_NAME=db_tefa_school

# Database Connection URL (PostgreSQL)
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# JWT Secret Key (Untuk keamanan Auth selanjutnya)
JWT_SECRET_KEY=ganti_dengan_secret_key_bebas_dan_rahasia
JWT_ALGORITHM=HS256